body {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 70ch) minmax(1rem, 1fr);
  background-color: #eceff4;
}

h1, p, h2 {
  grid-column: 2;
  justify-self: start;
  /*  font-family: 'Comic Neue', cursive;*/
  font-family: sans-serif;
}
