/* Intro CSS */
.deck_button{
	opacity: 0.6;
}

.selectedDeck{
	opacity: 1;
}

.intro{
	grid-column: 2;
	justify-self: center;
}

.back-button{
	height:auto;
}
svg{
	height: auto;
	margin: 1rem;
}

/* Question CSS */
#question{
	display: grid;
	row-gap: 1rem;
}

#question-sound{
	justify-self: center;
	align-self: center;
}

#answers{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: .25rem;
}

.answer{
	width: 100%;
	height: auto;
/*	margin:.1rem;*/
/*	border: 2px solid gray;*/
/*  opacity: 0.8;*/
/*  transition: transform 0.2s, opacity 0.2s, background-color 0.2s;*/
}

/*.correct{
	opacity:;
}*/

.incorrect{
	opacity: .5;
}

.next-question{
	grid-column: 1
}

#cert{
	grid-column: 2;
}

.visibleCert{
	display: grid;
	justify-items: center;
}

#stars{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.star{
	width:4rem;
}
